

/*
 * Backgrounds
 */
.background {
    background-color: #eee2d5;
}
.sauce {
    background-color: #66332b;
    color: #ffffff;
}

.backout {
    background-color: #d6cbbf;
}


/*
 * Typography-ish
 */
.centered {
    text-align: center;
}
